{{#paper-button classNames="md-primary"}}Sign up with Facebook{{/paper-button}}

{{#link-to 'users.create'}}
  {{#paper-button}}Sign up with email{{/paper-button}}
{{/link-to}}

{{#link-to 'sessions.create'}}
  <p>Already have an account? Log In.</p>
{{/link-to}}

{{outlet}}
